@font-face{
    font-family:nuevo;
    src:url(letra.otf)
}

titulo{
    font-family: fantasy; 
    background-size: cover;
}

body{
    background-image: url(img/fond1.jpg);
    background-size: 1920px;
    
    
}
nav{
    background:rgba( 255,255,255,0.5);
    width: 100%;
    position: absolute;
    z-index: 100;
}
nav ul{ 
list-style: none;
overflow: hidden;
}
nav ul li{ 
float: left;
}
nav ul li a {
    display: block;
    padding: 10px 30px;
    color: black;
    font-family: fantasy; 
    background-size: cover;
}
nav ul li:hover{
    text-align: center;
    background-image:url(img/anig1.gif);
     border-radius: 25px;
}
#divlogo{
    background-image:url(img/FONDO%20DE%20TXTO.jpg);
    
    height:100px;
    background-size: cover;
}
#logo{
    height:80px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#titulo{
    position:absolute;
    left: 500px;
    font-size: 30px ;
    text-shadow: 10px 12px 3px #5C8BC1;
    color:#000;
    font: small-caps 100%/200% serif;
    background-size: cover;
    font-family:fantasy;
}
#buscar{
    position: absolute;
    right: 35px;
    top:35px;
    padding: 5px;
    border-radius: 20px;
}
#lupa{
    position: absolute;
    left: 1270px; 
    width: 23px;
    top: 38px;
}
#whtpp{
position:absolute;
    left: 1280px; 
    width: 30px;
    top: 70px;
 }
#yout{
    position:absolute;
    left: 1250px; 
    width: 30px;
    top: 70px;
}
#fac{
    position:absolute;
    left: 1220px; 
    width: 30px;
    top: 70px;
 
}
#seccion1{
    background-image: url(img/images22.jpg);
     background-size: cover;
    display:flex;
    flex-direction: row;
    padding: 100px;
}
#izq{
    width:50%;
}
#izq h1{
    padding:25px 100px;
     
}
#izq p {
    font-size: 16px;
    font-family: cursive;
    padding:  25px 100px;
}
#der{ 
width: 50%;
}
#seccion2{
    padding: 25px;
    text-align: center;
}
#seccion2 img{
    height: 140px ;
    padding: 50px;
    transition:transform .2s;
}
#seccion2 img:hover{
    transform: scale(1.5);
    border-radius:50px;
}
#seccion3{
    background-image: url(img/fondo3.jpg);
     background-size: cover;
    display:flex;
    flex-direction: row;
    padding: 10px;
    
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#seccion4{
  position:absolute;
    left: 500px;
    font-family:nuevo ;
    font-size: 4px ;
    color:black;
   background: cover;  
   height:75px;
    
  
}

